<!-- Platform interop glue.
     Declares the CAMERA permission and registers AddLillieboxActivity as a
     non-exported component within this library manifest. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <application>
        <activity
            android:name=".AddLillieboxActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>
